<!--<!DOCTYPE html>-->
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/layout.html}"
        lang="en"
>
    <body>
        <main layout:fragment="content">
            <p th:text="Hello"></p>
            <h1>Start</h1>
        </main>
    </body>
</html>

<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Demo</title>-->
<!--    <link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">-->
<!--    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
<!--</head>-->
<!--<body class="container">-->
<!--    <nav th:replace="~{common/header :: navbar}"></nav>-->
<!--    <div>&nbsp;</div>-->
<!--    <h2>Welcome from Spring Boot ...</h2>-->
<!--    <img th:src="@{/images/spring.png}" alt="">-->
<!--</body>-->
<!--</html>-->